* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "mouse-300", Arial, Helvetica, sans-serif;
  color: #6A6A6A;
}

a {
  text-decoration: none;
  color: #6A6A6A;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.border-style {
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
}

.no-wrap {
  white-space: nowrap;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile {
  width: 30%;
  margin-right: 5%;
}
.profile__aboutMe {
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
}
.profile__img {
  border-radius: 50%;
  margin-bottom: 10px;
}
.profile__heading {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 10px;
}
.profile__prof {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #009b7f;
}
.profile__contact {
  padding: 10px;
}
.profile__title {
  font-size: 1.1rem;
  padding-left: 10px;
  padding-top: 5px;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}
.profile__icons {
  display: flex;
  flex-wrap: wrap;
}
.profile__icons .fa-brands {
  padding: 10px;
}
.profile__icons .fa-brands:hover {
  color: #009b7f;
}
.profile__link.element-animation {
  opacity: 0;
  transform: rotate(-5deg) scale(0.55);
  color: #009b7f;
  transition: all 1.5s;
}
.profile__link.element-animation.element-show {
  opacity: 1;
  transform: rotate(0) scale(1);
  color: #6A6A6A;
}
.profile__phone {
  border-top: 1px solid #CCC;
  padding: 10px;
  font-size: 0.8rem;
  font-style: italic;
}
.profile__phoneBox {
  font-size: 1rem;
}
.profile__phoneBox .fa-solid {
  padding: 10px;
}
.profile__phoneBox.element-animation {
  opacity: 0;
  transform: rotate(-5deg) scale(0.55);
  color: #009b7f;
  transition: all 1.5s;
}
.profile__phoneBox.element-animation.element-show {
  opacity: 1;
  transform: rotate(0) scale(1);
  color: #6A6A6A;
}

.main__right {
  max-width: 65%;
}

.experiance {
  padding: 20px;
  width: 100%;
}
.experiance__heading {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.project {
  border-top: 1px solid #CCC;
  padding-top: 10px;
  margin-bottom: 10px;
}
.project.element-animation {
  opacity: 0;
  transition: all 1.5s;
}
.project.element-animation.element-show {
  opacity: 1;
}
.project__title {
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.project__title.element-animation {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1.5s;
}
.project__title.element-animation.element-show {
  opacity: 1;
  transform: translateY(0);
}
.project__linkBox {
  color: #009b7f;
  font-size: 0.8rem;
  font-family: "mouse-500", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.project__linkBox.element-animation {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 1.5s;
}
.project__linkBox.element-animation.element-show {
  opacity: 1;
  transform: translateY(0);
}
.project__link:hover {
  color: #009b7f;
}
.project__text {
  text-align: justify;
  font-size: 0.9rem;
  margin-top: 5px;
  text-indent: 15px;
  margin-bottom: 0px;
  width: 100%;
}
.project__text.element-animation {
  opacity: 0;
  transform: translateX(20px);
  transition: all 1.5s;
}
.project__text.element-animation.element-show {
  opacity: 1;
  transform: translateX(0);
}
.project__technology {
  text-indent: 0;
}

.element-animation:nth-of-type(1).element-show {
  transition-delay: 0.1s;
}

.element-animation:nth-of-type(2).element-show {
  transition-delay: 0.2s;
}

.element-animation:nth-of-type(3).element-show {
  transition-delay: 0.3s;
}

.element-animation:nth-of-type(4).element-show {
  transition-delay: 0.4s;
}

.element-animation:nth-of-type(5).element-show {
  transition-delay: 0.5s;
}

.element-animation:nth-of-type(6).element-show {
  transition-delay: 0.6s;
}

.element-animation:nth-of-type(7).element-show {
  transition-delay: 0.7s;
}

.element-animation:nth-of-type(8).element-show {
  transition-delay: 0.8s;
}

.element-animation:nth-of-type(9).element-show {
  transition-delay: 0.9s;
}

.element-animation:nth-of-type(10).element-show {
  transition-delay: 1s;
}

.element-animation:nth-of-type(11).element-show {
  transition-delay: 1.1s;
}

.element-animation:nth-of-type(12).element-show {
  transition-delay: 1.2s;
}

.element-animation:nth-of-type(13).element-show {
  transition-delay: 1.3s;
}

.element-animation:nth-of-type(14).element-show {
  transition-delay: 1.4s;
}

.element-animation:nth-of-type(15).element-show {
  transition-delay: 1.5s;
}

.element-animation:nth-of-type(16).element-show {
  transition-delay: 1.6s;
}

.element-animation:nth-of-type(17).element-show {
  transition-delay: 1.7s;
}

.element-animation:nth-of-type(18).element-show {
  transition-delay: 1.8s;
}

.element-animation:nth-of-type(19).element-show {
  transition-delay: 1.9s;
}

.element-animation:nth-of-type(20).element-show {
  transition-delay: 2s;
}

.element-animation:nth-of-type(21).element-show {
  transition-delay: 2.1s;
}

.element-animation:nth-of-type(22).element-show {
  transition-delay: 2.2s;
}

.element-animation:nth-of-type(23).element-show {
  transition-delay: 2.3s;
}

.element-animation:nth-of-type(24).element-show {
  transition-delay: 2.4s;
}

.element-animation:nth-of-type(25).element-show {
  transition-delay: 2.5s;
}

.element-animation:nth-of-type(26).element-show {
  transition-delay: 2.6s;
}

.element-animation:nth-of-type(27).element-show {
  transition-delay: 2.7s;
}

.element-animation:nth-of-type(28).element-show {
  transition-delay: 2.8s;
}

.element-animation:nth-of-type(29).element-show {
  transition-delay: 2.9s;
}

.element-animation:nth-of-type(30).element-show {
  transition-delay: 3s;
}

.element-animation:nth-of-type(31).element-show {
  transition-delay: 3.1s;
}

.element-animation:nth-of-type(32).element-show {
  transition-delay: 3.2s;
}

.element-animation:nth-of-type(33).element-show {
  transition-delay: 3.3s;
}

.element-animation:nth-of-type(34).element-show {
  transition-delay: 3.4s;
}

.element-animation:nth-of-type(35).element-show {
  transition-delay: 3.5s;
}

.element-animation:nth-of-type(36).element-show {
  transition-delay: 3.6s;
}

.element-animation:nth-of-type(37).element-show {
  transition-delay: 3.7s;
}

.element-animation:nth-of-type(38).element-show {
  transition-delay: 3.8s;
}

.element-animation:nth-of-type(39).element-show {
  transition-delay: 3.9s;
}

.element-animation:nth-of-type(40).element-show {
  transition-delay: 4s;
}

.element-animation:nth-of-type(41).element-show {
  transition-delay: 4.1s;
}

.element-animation:nth-of-type(42).element-show {
  transition-delay: 4.2s;
}

.element-animation:nth-of-type(43).element-show {
  transition-delay: 4.3s;
}

.element-animation:nth-of-type(44).element-show {
  transition-delay: 4.4s;
}

.element-animation:nth-of-type(45).element-show {
  transition-delay: 4.5s;
}

.element-animation:nth-of-type(46).element-show {
  transition-delay: 4.6s;
}

.element-animation:nth-of-type(47).element-show {
  transition-delay: 4.7s;
}

.element-animation:nth-of-type(48).element-show {
  transition-delay: 4.8s;
}

.element-animation:nth-of-type(49).element-show {
  transition-delay: 4.9s;
}

@media (max-width: 768px) {
  .profile {
    width: 100%;
    margin-right: 0;
  }
  .profile__contact {
    text-align: center;
  }
  .profile__icons {
    justify-content: center;
  }
  .main__right {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */