/* блок main */
.main {
    background-color: #F1E4E6;
    // @include flex($horizontalPozition, $verticalPosition);
    @include grid-box;

    &-img {
        // width: 50%;
    }

    &-right {
        // width: 50%;

        &__border {
            border-left: $colorSite solid 12px;
            padding-left: 16px;
        }
    }

    &-heading {
        color: $colorBlock;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }

    &-black {
        color: $colorBlock;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &-color {
        color: $colorSite;
        // font-size: 32px;
        // font-style: normal;
        // font-weight: 700;
        // line-height: normal;
    }
}

.offer {
    margin-top: 64px;
    margin-bottom: 96px;

    &-top {
        // gap: 30px;
        gap: $gap;
        margin-bottom: 30px;
        @include flex($horizontalPozition, $verticalPosition);
        flex-wrap: nowrap;
    }

    &-group {
        position: relative;
        @include flex(center, $verticalPosition);

    }

    &-text {
        position: absolute;

        &__white {
            color: $colorLight;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__color {
            color: $colorSite;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }


}

.index-list__bottom {
    margin-bottom: 96px;
}

.feature {
    background-color: $colorBlock;
    @include flex($horizontalPozition, $verticalPosition);

    &-group {
        @include flexCenterColumn (16px);
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;
        // flex-wrap: wrap;
        // gap: 16px;
        // width: 27%;
        width: $widthThird;
        padding: 104px 0;

        &__img {
            height: 35px;
        }

        &__title {
            color: #FBFBFB;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &__text {
            color: #FBFBFB;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }
}